.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note
{
    font-size: 20px;
    color: white;
}

body
{
    background-size: cover;
}

.play_button
{
    width: 130px;
    font-size: 25px;
}

canvas
{
    border: 5px solid cyan;
    border-radius:20px;
}

#btn1
{
    float: left;
}

#btn2
{
    float: right;
}